<div class="row">
  <div class="large-8 large-centered column">
    <h2>New Press</h2>
    <%= simple_form_for @press_item, defaults: { wrapper_html: { class: "large-12 column" } }, html: { class: "press-item" } do |f| %>
      <%= f.input :pub, label: "Publication (name)" %>
      <div class="input date large-12 column">
        <%= f.label :date %>
        <%= f.date_field :date %>
      </div>
      <%= f.input :link %>
      <%= f.input :quote %>
      <%= f.button :submit, class: "radius success" %>
    <% end %>
  </div>
</div>
