<div class="large-12 columns">
  <%= simple_form_for @show do |f| %>
    <%= f.input :venue %>
    <%= f.date_field :date %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :info %>
    <%= f.button :submit %>
  <% end %>
</div>
