<h2>Shows</h2>
<div id="shows">
  <% @shows.each do |show| %>
    <div class="show">
      <div class="date">
        <div class="month"><%= show.date.strftime('%b') %></div>
        <div class="day"><%= show.date.strftime('%d') %></div>
      </div>
      <h3><%= show.venue %></h3>
      <%= link_to "Edit show", edit_show_path(show) %> | <%= link_to "Delete show", show_path(show), data: {
        confirm: "Are you sure?",
        method: :delete
      } %>
    </div>
  <% end %>
</div>
