  <div class="large-3 columns">
    <nav id="main"
    <ul>
      <li><%= link_to "Home", root_path %></li>          
      <li><%= link_to "Listen", "#" %></li>
      <li><%= link_to "Tour", shows_path %></li>
      <li><%= link_to "Band", "/band" %></li>
      <li><%= link_to "Store", store_index_path %></li>
      <li><%= link_to "Press", press_index_path %></li>
      <li><%= link_to "Media", "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
    </nav>
  </div>
