<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header id="header">
    <% if current_user %>
      <%= render 'layouts/admin_nav' %>
    <% end %>
      <div class="row">
        <div id="logo">
          <%= link_to content_tag(:h1, "Greensky Bluegrass", class: "column large-centered"), root_path %>
        </div>
      </div>
    </header>
    <div id="main">
      <div class="row">
        <% flash.each do |key, value| %>
          <div class='alert-box large-12 column <%= key %>' data-alert>
            <%= value %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      </div>

      <div class="row">
        <%= render 'layouts/main_nav' %>
        <div class="large-9 columns">
          <%= yield %>
        </div>
      </div>
    </div>

    <footer id="footer">

    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
